html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}



.navbar {
    padding: 0.5rem 1rem;
}

.navbar-brand h4 {
    font-weight: 700;
}

.nav-link {
    font-size: 1rem;
    padding: 0.5rem 1rem;
}

.form-control {
    min-width: 300px;
}


.card-img-container {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-img-top {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

.price {
    color: #f84147;
    font-weight: bold;
    font-size: 1.2rem;
}

.card-footer {
    padding-top: 0;
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;
}